@{
    ViewData["Title"] = "Encurtador de URL";
}

<h2>Encurtador de URL</h2>

<!-- Formulário para inserir a URL original -->
<form method="post" action="/Url/Create">
    <div class="form-group">
        <label for="originalUrl">Digite a URL original</label>
        <input type="url" name="originalUrl" class="form-control" required placeholder="Digite sua URL aqui" />
    </div>
    <button type="submit" class="btn btn-primary">Encurtar URL</button>
</form>

<!-- Exibição de mensagem de erro caso necessário -->
@if (ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-danger mt-3">
        @ViewData["ErrorMessage"]
    </div>
}
